* {
  box-sizing: border-box;

  --color-accent: #e54065;
  --color-background: #f4f5f9;
  --color-border: #cfd2dc;
  --color-text: #636363;
  --color-filter-button: #e1e4ea;
  --color-read-background: #f2f2f2;
  --color-unread-background: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
